.calculator{
    left: 0;
    right: 0;
    margin: auto;
    background-color:rgb(32, 158, 201);
    border: 2px black solid;
    width: fit-content;
    margin-top: 7rem;
}
.screen{
    background-color:coral;
    width: 29rem;
    height: 9rem;
    margin-bottom: 2rem;
    position: relative;
    
}
.numbersbox{
    column-count: 6;
}
#btn{
    padding: 1rem;
    border: 1px black solid;
    font-size: 2rem;
    cursor: pointer;
}
.out{
    font-size: 1.5rem;
    bottom: 0;
    right: 0;
    position: absolute;
    width: fit-content;
    
    /* padding: 1.5rem; */
    /* background-color: aliceblue; */
    /* border: 2px black solid; */
    /* border-radius: 50%; */
}